<?php

return [
    'modules' => [
        'DoctrineModule',
        'DoctrineORMModule',
        'ZfcUser',
        'ZfcUserDoctrineORM',
        'ScnSocialAuthDoctrineORM',
        'JhUser',
		'JhFlexiTime',
		'ZfcAdmin',
    ],
    'module_listener_options' => [
        'config_glob_paths' => [
            __DIR__ . '/testing.config.php',
        ],
        'module_paths' => [
        ],
    ],
];