body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.has-spinner .spinner {
    opacity: 0;
    width: 0;
}

.has-spinner.btn-sm.active .spinner {
    width: 14px;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    transform-origin:50% 58%;
    -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.table {
    font-size: 12px;
}

.table td {
    padding: 5px;
}

.dropdown-menu  {
    z-index: 9999 !important;
}

.notepop {
    cursor: pointer;
}

.form-errors {
    margin: 8px 0 8px 0px;
    list-style-type: lower-roman;
}

.navbar-brand img {
    height: 20px;
    width: 20px;
}

#login {
    width: 300px;
    margin-top: 15%;
}

#admin-users #users a {
    padding: 5px 5px;
    width: 100%;
    background-color: #1d1f21;
}

#admin-users #users a.list-group-item {
    border: 1px solid #292929;
}

#admin-users #users a:hover {
    background-color: #2C2C2C;
    color: #e0180b;
    font-weight: bold;
}

#admin-users {
    position: relative;
    overflow: hidden;
}

#content {
    border-radius: 6px;
    max-height: 800px;
}

.col-container {
    border-radius: 6px;
    padding: 4px;
}

#bookings {
    padding-left: 20px;
}

#bookings h1 {

}

.table-cont h3 {
    #color: white;
}

.table-cont table {
    border: none;
}

.table-cont td {
    border: none;
}

li.list-group-item {
    color: black;
}

.note {
    cursor: pointer;
}
.week-totals {
    background-color: #f5f5f5;
}

.booking-table {
    margin: 0px;
}

.booking-table-admin tr:nth-last-child(2) {
    border-bottom: none;
}

.balance-error {
    color: #4cae4c;
}

.balance-danger {
    color: #FC0D1B;
}

#totals {
    margin-top: 32px;
}

#totals tr:first-child > td,
#totals tr:first-child > th {
    border-top: 4px solid #ddd;
}

#totals td,
#totals th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.m-pager {
    padding: 0px 14px;
    border: 1px solid #ddd;
    border-radius: 25px;
    color: black;
    text-decoration: none;

}

.m-pager:hover {
    text-decoration: none;
    background-color: #eee;
    color: black;
}

#totals-brief {
    background-color: #222222;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}


#totals-brief p {
    text-decoration: none;
    color: #ffffff;
    background-color: #222222;
    border: 1px solid #282828;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 0px;
    font-size: 12px;
}

#new-time-booking-form label {
    padding-left: 10px;
}

.edit-booking td {
    background-color: #f5f5f5;
}
.edit-booking td:first-child {
    background-color: white;
}

.m-pager .glyphicon {
    font-size: 26px;
}

.total-right {
    text-align: right;
}

.time-book-errors {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 8px;
}

#time-book-errors {
    padding: 8px;
}

.edit-booking td:first-child {
    border-right: 6px solid #5cb85c;
}

.booking-table > tbody:first-of-type > tr:first-child {
    border-top: 4px solid #ddd;
}


.booking-table > tbody+tbody {
    border-top: none;
}


.booking-table .no-booking-past td:first-child {
    border-right: 6px solid #FC0D1B;
}

.booking-table > tbody > tr.no-booking-past:hover > td,
.booking-table > tbody > tr.no-booking-past:hover > th {
    background-color: #F2DED8;
}

.no-booking-future {
    background: #f5f5f5;
}

.no-booking-future td:first-child {
    background: white;
}

.booking-table > tbody > tr.no-booking-future:hover > td,
.booking-table > tbody > tr.no-booking-future:hover > th {
    background-color: #f5f5f5;
}

.no-booking-future td.col-date {
    font-weight: bold;
}

.today {
    background: #ffc;
}

.today td:first-child {
    background: white;
}

.booking-table > tbody > tr.today:hover > td ,
.booking-table > tbody > tr.today:hover > th {
    background-color: #ffc;
}



.booking-table-user .day td:first-child {
    border-top: none;
    background-color: white;
}


.booking-table-user .day td:first-child:hover {
    background-color: white;
}


.booking-table-user > tbody > tr.no-booking-past:hover > td:first-of-type {
    background-color: white;
}

.booking-table > tbody > tr:hover > td:first-of-type {
    background-color: white;
}

.booking-table > tbody > tr > td:first-of-type {
    border-top: none;
}

.large-load {
    font-size: 24px;
}

.success-add, .success-remove {
    background-color: white;
    transition: all 1s;
    -webkit-transition: all 1s ease-in-out;
}

.success-add-active {
    background-color: #dff0d8;
}

.success-remove {
    background-color: #dff0d8;

}

.success-remove-active {
    background-color: white;
}

.danger-add,.danger-remove {
    background-color: white;
    transition: all 1s;
    -webkit-transition: all 1s ease-in-out;
}
.danger-add-active {
    background-color: #f2dede;
}
.danger-remove {
    background-color: #f2dede;

}
.danger-remove-active {
    background-color: white;
}